OIDCProviderMetadataURL https://login.microsoftonline.com/<<<tenant_id>>>/v2.0/.well-known/openid-configuration
OIDCClientID <<<your_client_id>>>
OIDCClientSecret <<<your_client_secret>>>
OIDCRedirectURI https://<<<your_app_url>>>
OIDCCryptoPassphrase <<<your_passphrase>>>
